<div class="py-4 h-full w-full flex items-center justify-center">
    <div class="w-full flex space-x-5">

        <div class="w-1/2 h-full" data-aos="fade-right">

            <div class="h-96 w-full relative">
                <div class="swiper headerSwipper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://images.unsplash.com/photo-1537726235470-8504e3beef77?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="" srcset="" class="object object-center">
                        </div>
                        <div class="swiper-slide">
                            <img src="
                            https://images.unsplash.com/photo-1519710164239-da123dc03ef4?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="" srcset="" class="object object-center">
                        </div>
                        <div class="swiper-slide">
                            <img src="
                            https://images.unsplash.com/photo-1616046229478-9901c5536a45?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
                            "
                            alt="" srcset="" class="object object-center">
                        </div>
                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="w-1/2 flex flex-col gap-2">
            <h1 class="text-[4rem] tracking-widest text-center whitespace-pre-line font-sans text-white drop-shadow-lg"
                data-aos="fade-left" data-aos-delay="600">Beauty start
                is Inside your <span class="font-bold text-accent">House</span></h1>
            <div class="bg-white h-[2px]" data-aos="fade-right" data-aos-delay="700">

            </div>
        </div>
    </div>
</div>